# Minimum Requirements for a plotly dash app
Brotli
click
dash==2.15.0
#dash-core-components==2.0.2
#dash-html-components==2.0.2
plotly==5.3.1
Flask==2.0.2
itsdangerous
Jinja2
MarkupSafe
plotly
six
tenacity
Werkzeug


# Used for my app
pandas==1.2.4
scipy>1.6.1
sentence_transformers==2.3.1
umap-learn==0.5.5
scikit-learn

# For Heroku
gunicorn==20.1.0